<%= form_for(line) do |f| %>

<div class="container">
  <div class="row">
  <% if line.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fade in">
      <h2>Oh oh! Change a few things up and try submitting again.</h2>
      <ul>
      <% line.errors.full_messages.each do |message| %>
        <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;<%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<br>

  <div class="field hide">
    <%= f.number_field :contract_id, class: "form-control", :value => line.contract_id.presence || @contract.id, :readonly => true %>
    <select class="form-control" id="index-option">
          <%= LinesHelper::IndexOption %>
    </select>
  </div>

	<table class="table borderless">
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :prod_category_id, "Product Category*" %></label>
          <% options = options_from_collection_for_select(ProdCategory.order(:name), 'id', 'name', f.object.prod_category_id ) %>
          <%= f.select(:prod_category_id, [["BioDiesel",2],["Diesel",3],["Ethanol",4],["Flexible Fuels",5],["Gasoline",6],["Kerosene",8]], {}, { :class => "form-control", :id => "prod-category-short" }) %>
          <%= f.select(:prod_category_id, options, {include_blank: !line.prod_category_id.present? }, { :class => "form-control", :id =>"prod-category-long" }) %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :city_id, "Terminal City* (DTN)" %></label>
          <% options = options_from_collection_for_select(City.search(@contract.market_id).order(:name), 'id', 'name', f.object.city_id ) %>
          <%= f.select(:city_id, options, {include_blank: !line.city_id.present? }, { :class => "form-control", :id =>"terminal-city" }) %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :volume_grossnet, "Volume Gross/Net*"%></label>
          <%= f.select(:volume_grossnet, ["", "Gross", "Net"], {}, { :class => "form-control" }) %>
        </div>
      </td>
    </tr>
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label inline-block" title="Blank means multiple unspecified products under the specified category.">
            Product (DTN)
            <div class="inline-block">
              <%= f.check_box :short_list, {:id => "shortlist-checkbox", :checked => defaulttrue(line.short_list), :onclick => "checkboxClick(this);"}, "true", "false" %>
              <!--<input type="checkbox" id="shortlist-checkbox" onclick="checkboxClick(this);" checked >-->
              Short List
            </div>
          </label>
          <% options_short = option_groups_from_collection_for_select(ProdCategory.order(:name), :usualproducts, :name, :id, :nameabbr,  f.object.product_id ) %>
          <%= f.select(:product_id, options_short, {include_blank: !line.product_id.present? }, { :class => "form-control", :id =>"prod-name-shortlist", :title => "Blank means multiple unspecified  products under the specified category." } ) %>
          <%# puts options_short %>
          <% options_long = option_groups_from_collection_for_select(ProdCategory.order(:name), :products, :name, :id, :nameabbr,  f.object.product_id ) %>
          <%= f.select(:product_id, options_long, {include_blank: !line.product_id.present? }, { :class =>"form-control", :id =>"prod-name-longlist", :title => "Blank means multiple unspecified products under the specified category." } ) %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :terminal_id, "Terminal Operator (DTN)" %></label>
          <% options = option_groups_from_collection_for_select(City.search(@contract.market_id).order(:name), :terminals, :name, :id, :abbrtcn,  f.object.terminal_id ) %>
          <%= f.select(:terminal_id, options, {include_blank: !line.terminal_id.present? }, { :class => "form-control", :id =>"terminal-operator" }) %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :volume, "Volume* (Gallons)"%></label>
          <%= f.number_field :volume, class: "form-control" %>
        </div>
      </td>
    </tr>
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :cancel_date, "Cancel Date (if canceled)"%></label>
          <%= f.date_field :cancel_date, class: "form-control" %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :payment_terms, "Payment Terms" %></label>
          <%= f.text_field :payment_terms, class: "form-control" %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :volume_variance, "Volume Variance", title: "e.g. +/-15%" %></label>
          <%= f.text_field :volume_variance, class: "form-control", title: "e.g. +/-15%" %>
        </div>
      </td>
    </tr>
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :formula, "Formula Type/Source*" %></label>
          <%= f.select(:formula, ["", "Platts","NYMEX","OPIS","Argus","Rack Posted","Other"], {}, { :class => "form-control", :id => "formula-source" }) %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label">Formula Same/Prior Day</label>
          <%= f.select(:formula_samepriorday, ["", "Same day", "Prior day"], {}, { :class => "form-control" }) %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label">Formula Description</label>
          <%= f.text_field :formula_description, class: "form-control" %>
        </div>
      </td>
    </tr>
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :index_1 %></label>
          <%= f.select :index_1, grouped_options_for_select(LinesHelper::IndexOption,f.object.index_1), {include_blank: !line.index_1.present?}, { :class => "form-control"}  %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :index_2 %></label>
           <%= f.select :index_2, grouped_options_for_select(LinesHelper::IndexOption,f.object.index_2), {include_blank: !line.index_2.present?}, { :class => "form-control"}  %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :index_3 %></label>
          <%= f.select :index_3, grouped_options_for_select(LinesHelper::IndexOption,f.object.index_3), {include_blank: !line.index_3.present?}, { :class => "form-control"}  %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :pct_index_1, "Index 1 %" %></label>
          <%= f.number_field :pct_index_1, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :pct_index_2, "Index 2 %"  %></label>
          <%= f.number_field :pct_index_2, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :pct_index_3, "Index 3 %"  %></label>
          <%= f.number_field :pct_index_3, class: "form-control" %>
        </div>
      </td>
    </tr>
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :adder_1 %></label>
          <%= f.number_field :adder_1, class: "form-control", step:"any" %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :adder_2 %></label>
          <%= f.number_field :adder_2, class: "form-control", step:"any" %>
        </div>
      </td>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :adder_3 %></label>
          <%= f.number_field :adder_3, class: "form-control", step:"any" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Adder In/Out (explanation)</label>
          <%= f.select(:adder_inout, ["", "In", "Out"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Adder/TVA Schedule</label>
          <%= f.select(:adder_schedule, ["", "Yearly", "Monthly"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Summer RVP</label>
          <%= f.select(:summer_rvp, ["", "Y", "N"], {}, { :class => "form-control" }) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">RINS Index</label>
          <%= f.select(:index_rins, ["","OPIS US Ethanol RIN Current","OPIS US Bio Rin Current","Platts Ethanol RIN Cal Yr02","Other"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">RINS Discount %</label>
          <%= f.number_field :pct_rins_discount, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Ethanol %</label>
          <%= f.number_field :pct_ethanol, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Rack Posted Price Discount</label>
          <%= f.number_field :rack_discount, class: "form-control", step:"any" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Rack Discount Policy</label>
          <%= f.text_field :rack_discount_policy, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :status, "Line Status" %></label>
          <%= f.text_field :status, class: "form-control", :value => 'A', :readonly => true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Rebate Policy</label>
          <%= f.text_area :rebate_policy, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Penalty Policy</label>
          <%= f.text_area :penalty_policy, class: "form-control" %>
        </div>
      </td>
      <td>
      </td>
    </tr>
  </table>

<div class="form-group row">
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
</div>

<% end %>