<div class="lines">

<%= form_for(line) do |f| %>

  <% if line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	</p>


<div class="form-group row">
  <div class="field">
    <label for="inputContractId" class="col-2 col-form-label"><%= f.label :contract_id, "Contract ID" %></label>
    <%= f.number_field :contract_id, class: "form-control", :value => line.contract_id.presence || @contract.id, :readonly => true %>
  </div>
</div>

<div class="form-group row">
    <div class="field">
      <label class="col-2 col-form-label"><%= f.label :prod_category_id, "Product Category* (DTN)" %></label>
      <% options = options_from_collection_for_select(ProdCategory.order(:name), 'id', 'name', f.object.prod_category_id ) %>
      <%= f.select(:prod_category_id, options, {include_blank: !line.prod_category_id.present? }, { :class => "form-control", :id =>"prod-category" }) %>
    </div>
</div>

<div class="form-group row">
    <div class="field">
      <div><input type="checkbox" id="shortlist-checkbox" onclick="handleClick(this);" checked >Short List</div>
      <label class="col-2 col-form-label"><%= f.label :product_id, "Product (DTN)" %></label>
      <% options_short = option_groups_from_collection_for_select(ProdCategory.order(:name), :usualproducts, :name, :id, :name,  f.object.product_id ) %>
      <%= f.select(:product_id, options_short, {include_blank: !line.product_id.present? }, { :class => "form-control", :id =>"prod-name-shortlist" } ) %>
      <% options_long = option_groups_from_collection_for_select(ProdCategory.order(:name), :products, :name, :id, :name,  f.object.product_id ) %>
      <%= f.select(:product_id, options_long, {include_blank: !line.product_id.present? }, { :class =>"form-control", :id =>"prod-name-longlist" } ) %>
    </div>
</div>



<div class="form-group row">
    <div class="field">
      <div id="market-id" style="display:none"><%= @contract.market_id %></div>
      <label class="col-2 col-form-label"><%= f.label :city_id, "Terminal City (DTN)" %></label>
      <% options = options_from_collection_for_select(City.search(@contract.market_id).order(:name), 'id', 'name', f.object.city_id ) %>
      <%= f.select(:city_id, options, {include_blank: !line.city_id.present? }, { :class => "form-control", :id =>"terminal-city" }) %>
    </div>
</div>

<div class="form-group row">
    <div class="field">
      <label class="col-2 col-form-label"><%= f.label :terminal_id, "Terminal Operator* (DTN)" %></label>
      <% options = option_groups_from_collection_for_select(City.search(@contract.market_id).order(:name), :terminals, :name, :id, :abbr,  f.object.terminal_id ) %>
      <%= f.select(:terminal_id, options, {include_blank: !line.terminal_id.present? }, { :class => "form-control", :id =>"terminal-operator" }) %>
    </div>
</div>


<div class="form-group row">
  <div class="field">
    <label class="col-2 col-form-label"><%= f.label :formula %></label>
    <%= f.text_field :formula, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <div class="field">
    <label class="col-2 col-form-label"><%= f.label :volume %></label>
    <%= f.number_field :volume, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
        <label class="col-2 col-form-label"><%= f.label :cancel_date %></label>
          <%= f.date_field :cancel_date, class: "form-control" %>
</div>

<div class="form-group row">
        <label class="col-2 col-form-label"><%= f.label :status %></label>
          <%= f.text_field :status, class: "form-control", :value => 'A', :readonly => true %>
</div>

<div class="form-group row">
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
</div>



<% end %>

</div>