<div class="container">

<h1>Line Details</h1></br>
<div class="row">
	<div class="form-group row">
	  <label for="inputContrdctId" class="col-2 col-form-label">Contract ID</label>
		<div class="col-10">
	  	<input type="number" class="form-control" id="inputContrdctId" value=<%= @line.contract_id %> readonly=true >
		</div>
	</div>
	
	<div class="form-group row">
	  <label for="inputFormula" class="col-2 col-form-label">Formula</label>
		<div class="col-10">
	  	<input type="text" class="form-control" id="inputFormula" value=<%= @line.formula %> readonly=true >
		</div>
	</div>
	
	<div class="form-group row">
	  <label for="inputVolume" class="col-2 col-form-label">Volume</label>
		<div class="col-10">
	  	<input type="text" class="form-control" id="inputVolume" value=<%= @line.volume %> readonly=true >
		</div>
	</div>
	
<ul class="nav nav-pills">
	<li><%= button_to 'Edit', edit_line_path(@line), method: :get, class:"btn btn-default" %></li>
	<li><%= button_to 'Back', contract_path(@line.contract_id), method: :get, class:"btn btn-default" %></li>
</ul>

</div>