<%= form_for(contract) do |f| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	</p>

<div class="form-group row">
  <div class="field">
    <label for="inputContractId" class="col-2 col-form-label">Contract #</label>
    <%= f.number_field :contract_id, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <div class="field">
    <label for="inputSupplier" class="col-2 col-form-label"><%= f.label :supplier %></label>
    <div class='input-group date' id='datetimepicker1'>
    <%= f.text_field :supplier, class: "form-control" %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
  </div>
</div>

<div class="form-group row">
  <div class="field">
    <label for="inputProduct" class="col-2 col-form-label"><%= f.label :product %></label>
    <%= f.text_field :product, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <div class="field">
    <label for="inputStatus" class="col-2 col-form-label"><%= f.label :status %></label>
    <%= f.select(:status, ["A", "I"], {}, { :class => "form-control" }) %>
  </div>
</div>

<div class="form-group row">
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
</div>

<% end %>