<%= form_for(contract) do |f| %>

<div class="container">
  <div class="row">
  <% if contract.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fade in">
      <h2>Oh snap! Change a few things up and try submitting again.</h2>
      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;<%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<br>

  <div class="field hide">
    <%= f.number_field :created_by, class: "form-control", :value => contract.created_by.presence || current_user.id %>
    <%= f.number_field :updated_by, class: "form-control", :value => current_user.id %>
  </div>

	<table class="table borderless">
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :contract_nbr, "Contract Number*" %></label>
          <%= f.number_field :contract_nbr, class: "form-control" %>
        </div>
      </td>
			<td>
          <div class="field">
            <label class="col-2 col-form-label"><%= f.label :supplier, "Supplier* (DTN)" %></label>
            <% options = options_from_collection_for_select(Supplier.order(:name), 'name', 'name', f.object.supplier ) %>
            <%= f.select(:supplier, options, {include_blank: !@contract.supplier.present? }, { :class => "form-control" }) %>
          </div>
      </td>
			<td>
          <div class="field">
            <label class="col-2 col-form-label"><%= f.label :supplier_nbr, "Supplier Number (Oracle)" %></label>
            <%= f.text_field :supplier_nbr, class: "form-control" %>
          </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :company %></label>
          <%= f.select(:company, ["","Legacy","CarterEnergy", "Lakeside","Texor","Western","Alta","APP","PAPCO"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Market State</label>
              <% if f.object.market_id.present? %>
              <%   selected = Market.find(f.object.market_id).state.name %>
              <% end %>
            <% options = options_from_collection_for_select(State.where("country = 'USA'").order(:name), 'name', 'name', selected ) %>
            <%= select_tag('', options, include_blank: @contract.market_id.blank? , class:"form-control", id:"market-state") %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :market_id, "Market* (DTN)" %></label>
            <% options = option_groups_from_collection_for_select(State.where("country = 'USA'").order(:name), :markets, :name, :id, :name,  f.object.market_id ) %>
            <%= f.select(:market_id, options, {include_blank: @contract.market_id.blank? }, { :class => "form-control", :id =>"market-name" }) %>
        </div>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :brand_type, "Brand Type*"  %></label>
          <%= f.select(:brand_type, ["", "U", "B"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :start_date, "Start Date*" %></label>
          <%= f.date_field :start_date, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :end_date, "End Date" %></label>
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :renew_type, "Renewal Cycle*" %></label>
          <%= f.select(:renew_type, ["","Yearly","Monthly", "Evergreen","Other"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :formula_type, "Formula Type*" %></label>
          <%= f.select(:formula_type, ["","Index","Rack Posted", "Either/Or","Monthly Average","Other"], {}, { :class => "form-control" }) %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :pricing_cycle, "Pricing Cycle*" %></label>
          <%= f.select(:pricing_cycle, ["","12am-12am","6pm-6pm","5pm-5pm","7pm-7pm","Other"], {}, { :class => "form-control dropbdown-hide" }) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :notes %></label>
          <%= f.text_area :notes, class: "form-control" %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :sales_rep,"Sales Rep*" %></label>
          <%= f.select :sales_rep, options_for_select(ContractsHelper::SalesrepOption,f.object.sales_rep), {include_blank: !contract.sales_rep.present?}, { :class => "form-control"}  %>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label"><%= f.label :status %></label>
          <input type="text" class="form-control" id="inputStatus" value="A" readonly=true >
          <%= f.hidden_field :status, :value => 'A' %>
        </div>
      </td>
    </tr>
  </table>
  
<div class="form-group row min-height">
  <div class="actions">
    <%= f.submit class:"btn btn-primary pull-down" %>
  </div>
</div>
  
<% end %>