<div class="container">

<h1>Contracts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Contract ID</th>
      <th>Supplier</th>
      <th>Product</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.contract_id %></td>
        <td><%= contract.supplier %></td>
        <td><%= contract.product %></td>
        <td><%= contract.status %></td>
        <td><%= link_to 'Details', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Delete', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="submit" class="btn btn-default">
	<%= link_to 'New Contract', new_contract_path %>
</button>

</div>