<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
  	<h1><img class="document-icon" src="/document.png" />
  	Contract Details</h1>
  	</div>
  <div class="bottom-align-right col-xs-6 col-md-4">
    <ul class="nav nav-pills pull-right">
	<li><%= button_to 'Edit', edit_contract_path(@contract), method: :get, class:"btn btn-default" %></li>
	<li><%= button_to 'Back', contracts_path, method: :get, class:"btn btn-default" %></li>
		</ul>
  </div>
</div>
</br>

	<table class="table borderless" style="width:100%">
		<tr>
			<td>
				<div>
				  <label for="inputContractId" class="col-form-label">Contract #</label>
					<div>
				  	<input type="number" class="form-control" id="inputContractId" value=<%= @contract.contract_id %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputContractId" class="col-form-label">Contract #</label>
					<div>
				  	<input type="number" class="form-control" id="inputContractId" value=<%= @contract.contract_id %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputContractId" class="col-form-label">Contract #</label>
					<div>
				  	<input type="number" class="form-control" id="inputContractId" value=<%= @contract.contract_id %> readonly=true >
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
				  <label for="inputSupplier" class="col-form-label">Supplier</label>
					<div>
				  	<input type="text" class="form-control" id="inputSupplier" value=<%= @contract.supplier %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputSupplier" class="col-form-label">Supplier</label>
					<div>
				  	<input type="text" class="form-control" id="inputSupplier" value=<%= @contract.supplier %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputSupplier" class="col-form-label">Supplier</label>
					<div>
				  	<input type="text" class="form-control" id="inputSupplier" value=<%= @contract.supplier %> readonly=true >
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
				  <label for="inputProduct" class="col-form-label">Product</label>
					<div>
				  	<input type="text" class="form-control" id="inputProduct" value=<%= @contract.product %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputProduct" class="col-form-label">Product</label>
					<div>
				  	<input type="text" class="form-control" id="inputProduct" value=<%= @contract.product %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputProduct" class="col-form-label">Product</label>
					<div>
				  	<input type="text" class="form-control" id="inputProduct" value=<%= @contract.product %> readonly=true >
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
				  <label for="inputStatus" class="col-form-label">Status</label>
					<div>
				  	<input type="text" class="form-control" id="inputStatus" value=<%= @contract.status %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputStatus" class="col-form-label">Status</label>
					<div>
				  	<input type="text" class="form-control" id="inputStatus" value=<%= @contract.status %> readonly=true >
					</div>
				</div>
			</td>
			<td>
				<div>
				  <label for="inputStatus" class="col-form-label">Status</label>
					<div>
				  	<input type="text" class="form-control" id="inputStatus" value=<%= @contract.status %> readonly=true >
					</div>
				</div>
			</td>
		</tr>
	</table>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"><h3>Contract Lines</h3></div>
  <div class="bottom-align col-xs-6 col-md-4">
    <%= link_to 'New Line', new_line_path(:contract => @contract.id), method: :get, class:"a btn btn-primary pull-right" %>
  </div>
</div>

<br>
	<%= render 'lines/line', obj: @contract.lines %>
</div>

