<div class="container">

<h1>Contract Details</h1></br>
<div class="row">
	<div class="form-group row">
	  <label for="inputContractId" class="col-2 col-form-label">Contract ID</label>
		<div class="col-10">
	  	<input type="number" class="form-control" id="inputContractId" value=<%= @contract.contract_id %> >
		</div>
	</div>
	
	<div class="form-group row">
	  <label for="inputSupplier" class="col-2 col-form-label">Supplier</label>
		<div class="col-10">
	  	<input type="text" class="form-control" id="inputSupplier" value=<%= @contract.supplier %> >
		</div>
	</div>
	
	<div class="form-group row">
	  <label for="inputProduct" class="col-2 col-form-label">Product</label>
		<div class="col-10">
	  	<input type="text" class="form-control" id="inputProduct" value=<%= @contract.product %> >
		</div>
	</div>
	
	<div class="form-group row">
	  <label for="inputProduct" class="col-2 col-form-label">Status</label>
		<div class="col-10">
	  	<input type="text" class="form-control" id="inputProduct" value=<%= @contract.status %> >
		</div>
	</div>
	</div>
	
<ul class="nav nav-pills">
	<li><%= button_to 'Edit', edit_contract_path(@contract), method: :get, class:"btn btn-default" %></li>
	<li><%= button_to 'Back', contracts_path, method: :get, class:"btn btn-default" %></li>
</div>

</div>
