<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
  	<h1><img class="document-icon" src="/document.png" />
  	Contract Header Details</h1>
  </div>
  <div class="bottom-align-right col-xs-6 col-md-4">
    <ul class="nav nav-pills pull-right">
    	<li><%= button_to 'Edit', edit_contract_path(@contract), method: :get, class:"btn btn-default" %></li>
    	<li><%= button_to 'Done', contracts_path, method: :get, class:"btn btn-default" %></li>
		</ul>
  </div>
</div>
</br>

	<table class="table borderless">
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label">Contract Number</label>
          <input type="number" class="form-control" readonly=true value="<%= @contract.contract_nbr%>" >
        </div>
      </td>
			<td>
          <div class="field">
            <label class="col-2 col-form-label">Supplier (DTN)</label>
            <input type="text" class="form-control" readonly=true value="<%= @contract.supplier%>" >
          </div>
      </td>
			<td>
          <div class="field">
            <label class="col-2 col-form-label">Supplier Number (Oracle)</label>
            <input type="text" class="form-control" readonly=true value="<%= @contract.supplier_nbr %>" >
          </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Company</label>
          <input type="text" class="form-control" readonly=true value="<%= @contract.company%>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Market State</label>
          <input type="text" class="form-control" readonly=true value="<%= Market.find(@contract.market_id).state.name %>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Market (DTN)</label>
          <input type="text" class="form-control" readonly=true value="<%= Market.find(@contract.market_id).name %>" >
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Brand Type</label>
          <input type="text" class="form-control" readonly=true value="<%= @contract.brand_type%>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Start Date</label>
          <input type="date" class="form-control" readonly=true value="<%= @contract.start_date%>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">End Date</label>
          <input type="date" class="form-control" readonly=true value="<%= @contract.end_date%>" >
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Renewal Cycle</label>
          <input type="text" class="form-control" readonly=true value="<%= @contract.renew_type%>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Formula Type</label>
          <input type="text" class="form-control" readonly=true value="<%= @contract.formula_type%>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Pricing Cycle</label>
          <input type="text" class="form-control" readonly=true value="<%= @contract.pricing_cycle%>" >
        </div>
      </td>
    </tr>
    <tr>
      <td rowspan="2">
        <div class="field">
          <label class="col-2 col-form-label">Notes</label>
          <textarea type="text" class="form-control textarea-rowspan2" readonly=true ><%= @contract.notes%></textarea>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Sales Rep</label>
          <input type="text" class="form-control" readonly=true value="<%= @contract.sales_rep%>" >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Status</label>
         <input type="text" class="form-control" readonly=true value="<%= @contract.status%>" >
        </div>
      </td>
    </tr>
    <tr colspan="2">
      <td colspan="2">
      <%= render 'cfiles/cfile', cfile_obj: @cfile %>
      </td>
    </tr>
  </table>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h2>Contract Lines</h2>
  </div>
  <div class="bottom-align-right-h2 col-xs-6 col-md-4">
    <%= link_to 'New Line', new_line_path(:contract => @contract.id), method: :get, class:"a btn btn-primary pull-right" %>
  </div>
</div>

<br>

  <div class="min-height">
	<%= render 'lines/line', obj: @contract.lines.where("status='A'").order(city_id: :asc,terminal_id: :asc,prod_category_id: :asc,product_id: :asc,updated_at: :asc) %>
	</div>

