<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
  	<h1><img class="document-icon" src="/document.png" />
  	Contract Details</h1>
  	</div>
  <div class="bottom-align-right col-xs-6 col-md-4">
    <ul class="nav nav-pills pull-right">
	<li><%= button_to 'Edit', edit_contract_path(@contract), method: :get, class:"btn btn-default" %></li>
	<li><%= button_to 'Back', contracts_path, method: :get, class:"btn btn-default" %></li>
		</ul>
  </div>
</div>
</br>

	<table class="table borderless" style="width:100%">
		<tr>
			<td>
        <div class="field">
          <label class="col-2 col-form-label">Contract number</label>
          <input type="number" class="form-control" readonly=true value=<%= @contract.contract_nbr%> >
        </div>
      </td>
			<td>
          <div class="field">
            <label class="col-2 col-form-label">Supplier</label>
            <input type="text" class="form-control" readonly=true value=<%= @contract.supplier%> >
          </div>
      </td>
			<td>
          <div class="field">
            <label class="col-2 col-form-label">Supplier number</label>
            <input type="text" class="form-control" readonly=true value=<%= @contract.supplier_nbr %> >
          </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Company</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.company%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Terminal city</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.terminal_city%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Terminal state</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.terminal_state%> >
        </div>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Brand type</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.brand_type%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Start date</label>
          <input type="date" class="form-control" readonly=true value=<%= @contract.start_date%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">End date</label>
          <input type="date" class="form-control" readonly=true value=<%= @contract.end_date%> >
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Renew type</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.renew_type%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Formula type</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.formula_type%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Pricing cycle</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.pricing_cycle%> >
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Notes</label>
          <textarea type="text" class="form-control" readonly=true ><%= @contract.notes%></textarea>
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Sales rep</label>
          <input type="text" class="form-control" readonly=true value=<%= @contract.sales_rep%> >
        </div>
      </td>
      <td>
        <div class="field">
          <label class="col-2 col-form-label">Status</label>
         <input type="text" class="form-control" readonly=true value=<%= @contract.status%> >
        </div>
      </td>
    </tr>
  </table>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"><h3>Contract Lines</h3></div>
  <div class="bottom-align col-xs-6 col-md-4">
    <%= link_to 'New Line', new_line_path(:contract => @contract.id), method: :get, class:"a btn btn-primary pull-right" %>
  </div>
</div>

<br>
	<%= render 'lines/line', obj: @contract.lines %>
</div>

