<!--<%- model_class = Cfile -%>-->
<%= form_for cfile_obj, :html => { multipart: true, :class => "form-horizontal", remote:true , id: 'file-upload-form' } do |f| %>
      <div class="half-width field inline-block">
        <label class="col-2 col-form-label">
          Attached Document (.jpg/.png/.pdf)
        </label>
        <input type="text" class="form-control" id="document-name" readonly=true value="<%=File.basename( (cfile_obj.document.presence || 'Please upload a file =>').to_s) %>">
        <%= f.hidden_field :contract_id, :value => @contract.id %>
        <%#=f.error_span(:name) %>
      </div>
      <div class="half-width field inline-block">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="inline-block">
            <div class="controls inline-block">
              <a class="btn btn-default btn-xs" id="download-btn" <%='disabled' if !cfile_obj.document.present? %> <%= "href=" + cfile_obj.document.to_s if cfile_obj.document.present? %> target="_blank">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                <span>&nbsp;Download</span>
              </a>
            </div>
            <div class="inline-block">
              <span class="btn btn-primary btn-xs btn-file" id="upload-btn-span">Upload New
                <%= f.file_field :document, accept:'image/jpeg,image/png,application/pdf', :id => 'upload-btn' %>
              </span>
              <%#= f.hidden_:document_cache, :value => cfile_obj.document_cache%>
              <%#= f.submit class:'btn btn-xs btn-default'%>
            </div>
            <div id="spinner" class="text-center spinner inline-block" style="display: none;" >
              <span class="glyphicon glyphicon-refresh spinning"></span>
            </div>
            <div class="inline-block text-success" id="file-upload-result" style="display: none;">
              Success!
            </div>
            <div class="inline-block text-danger" id="file-upload-error" style="display: none;">
              Error!
            </div>
        </div>
      </div>
<% end %>