<%= form_for cfile_obj, :html => { multipart: true, :class => "form-horizontal cfile" } do |f| %>
  <td>
    <div class="field">
      <label class="col-2 col-form-label">
      Attached Document
      </label>
        <input type="text" class="form-control" readonly=true value="<%=File.basename( (@cfile.document.presence || 'Please upload a file =>').to_s) %>">
        <%= f.hidden_field :contract_id, :value => @contract.id %>
        <%=f.error_span(:name) %>
    </div>
  </td>
  <td>
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="field inline-block">
        <div class="controls inline-block">
          <a class="btn btn-default btn-xs <%='disabled' if !cfile_obj.document.present? %>" href="<%=cfile_obj.document%>" target="_blank">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            <span>&nbsp;Download</span>
          </a>
        </div>
        <div class="field inline-block">
          <div class="hide">
          <%= f.file_field :document, accept: 'image/jpeg,application/pdf,image/png', :id => 'real_file' %>
          <%= f.hidden_field :document_cache %>
          <%= f.submit "Upload New", :class => 'btn btn-xs btn-success', :id => 'upload_submit' %>
          </div>
            <a id="upload-btn" class="btn btn-success btn-xs">Upload New</a>
        </div>
        <%=f.error_span(:document) %>
    </div>
  </td>
    

  <!--<div class="form-group">-->
  <!--  <div class="col-lg-offset-2 col-lg-10">-->
  <!--    <%#= f.submit nil, :class => 'btn btn-xs btn-primary' %>-->
  <!--  </div>-->
  <!--</div>-->

<% end %>

  <% if cfile_obj.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(cfile_obj.errors.count, "error") %> prohibited this cfile from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% cfile_obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>